.gallery {
    background: #fdf5e6;
    &__title {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media(max-width:768px) {
    .gallery {
        &__title {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
}

@media(max-width:768px) {
    .text h1 {
    font-size: 20px;
    }
    .text p {
        font-size: 16px;
    }
}

@media(max-width:375px) {
    .gallery {
        margin-top: -8px;
        &__title {
            margin-top: 10px;
            // margin-bottom: 25px;
        }
    }
}