

.aboutImage {
    background: url("../../../images/Elen-perfil.png") no-repeat center center fixed;
    background-color: rgb(139, 14, 255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 980px;
    opacity: 0.2;
}

.about {
    margin-top: -980px;
    width: 100%;
    &__title h1 {
        margin-top: 50px;
    }
    &__title h6 {
        font-size: 25px;
        color: rgb(82, 5, 145);
    }
    &__title p {
        font-size: 17px;
    }
    &__card {
        margin-bottom: 52px;
    }
}

p {
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:1024px) {
    .aboutImage {
        margin-top: 0;
        height: 1080px;
    }
}

@media(max-width:1024px) {
    .about {
        &__title {
            margin-top:  -1080px;
        }
    }
}

@media(max-width:768px) {
    .aboutImage {
        margin-top: 0;
        height: 1260px;
    }
}

@media(max-width:768px) {
    .about {
        &__title {
            margin-top:  -1264px;
        }
    }
}


@media(max-width:635px) {
    .aboutImage {
        margin-top: -583px;
        height: 1782px;
    }
}

@media(max-width:635px) {
    .about {
        &__title {
            margin-top:  -1792px;
        }
    }
}

@media(max-width:400px) {
    .aboutImage {
        margin-top: -539px;
        // margin-bottom: 10px;
        height: 1860px;
    }
}

@media(max-width:400px) {
    .about {
        &__title {
            margin-top:  -1905px;
        }
    }
}

@media(max-width:375px) {
    .aboutImage {
        margin-top: -538px;
        // margin-bottom: 10px;
        height: 1860px;
    }
}

@media(max-width:375px) {
    .about {
        &__title {
            margin-top:  -1897px;
        }
    }
}

@media(max-width:320px) {
    .aboutImage {
        margin-top: -488px;
        // margin-bottom: 10px;
        height: 2119px;
    }
}

@media(max-width:320px) {
    .about {
        &__title {
            margin-top:  -2134px;
        }
    }
}