.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.card3 {
    &__title {
        margin: 0 15px 0 15px;
        text-align: center;
    }
    &__text {
        margin: 0 15px 5px 15px;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
    }
    &__button {
        margin: 0 auto 20px 30%;
    }
}

@media(max-width:426px) {
    .card3 {
        &__button {
            margin-left: 20%;
        }
    }
}
@media(max-width:375px) {
    .card3 {
        &__button {
            margin-left: 10%;
        }
    }
}

@media(max-width:320px) {
    .card3 {
        &__button {
            margin-left: 1%;
        }
    }
}
