// color
$ligthGreen: #e3fae0;
$lightOrange: #fff6ea;
$green: #65d258;
$orange: #fa7921;
$text: #13094e;

// font-family
$display: "Nunito", sans-serif;
$body: "Roboto", sans-serif;

//font-weight
$thin: 300;
$normal: 400;

// $textTransform: uppercase;
// $navbar: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
// $bold: 700;